*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  all: unset;
}

a:hover{
  cursor: pointer;
}

::-webkit-scrollbar{
  background-color: rgba(100, 40, 219, 0);
  width: 6px;
}

::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(100, 40, 219, 0.43);
  border-radius: 6px;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
